<%- include('partials/header') %>
<div class='allPosts'>

  <h1>All posts</h1>

</div>
<div>
  <a href="/compose"><button id="addPost"><i class="fa fa-plus"></i></button>
  </a>
  <span>Add a new post</span>
</div>
<% posts.forEach(post=>{ %>
<h3><%=post.title%></h3>
<p><%=post.body.substring(0,100)%> ... <a href="/posts/<%=post.title%>">Read More</a></p> %>
<% })%>

<%- include('partials/footer') %>